.idea/
__pycache__/

# assignment1
assignment1/data/
assignment1/graph/
assignment1/report/

# assignment2
assignment2/niching_data/

*.png
*.csv
*.txt
*.ipynb
*.pdf
*.pptx
*.docx
*.xlsx
*.cls
*.tex
*.jpg