.idea/
__pycache__/

# assignment1
assignment1-compare_different_basic_operators/data/
assignment1-compare_different_basic_operators/graph/
assignment1-compare_different_basic_operators/report/

# assignment2
assignment2-compare_different_niching_methods/niching_data/

*.png
*.csv
*.txt
*.ipynb
*.pdf
*.pptx
*.docx
*.xlsx
*.cls
*.tex
*.jpg